.menu{   
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}

.header-items{
    display: flex;
    justify-content: flex-end;
    padding: 2%;
    /* align-items: center; */
}

.login{
    margin-left: 50px
}


body{
    background-color: #eee;
}

#shop_items{
    margin: 5%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center

}

.item1{
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px;
    width: 300px;
    height: 250px;
    margin-bottom: 25px;
    justify-content: center;
    

}

.item_cost, .item_title{
    text-align: center
}
.item1:hover{
    transition: .5s all;
    cursor: pointer;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
  }
 

  .slider-frame{
    overflow: hidden;
    height: 600;
    width: 1247px;
  }
  
  @-webkit-keyframes slide_animation{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:1247px;}
    30% {left:1247px;}
    40% {left: 2494px;}
    50% {left: 2494px;}
    60% {left: 1247px;}
    70% {left: 1247px;}
    80% {left: 0px;}
    90% {left: 0px}
    100% {left: 0px}
  }
  
  
  .slide-image{
    width: 3741px;
    height:800px;
    margin: 0 0 0 -2494px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 66s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
  }
  
  .img-container{
  height: 600;
  width: 1247px;
  position: relative;
  float: left;
  }
  
  




